html {
    height: 100%;
}

body {
    background-image: url("purple-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

main {
    padding: 15px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    padding: 15px 10px;
    margin: 0;
}

#zip-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}

input {
    width: 200px;
    height: 0;
    border-radius: 10px;
    padding: 15px;
    border: none;
}

#error-holder {
    display: none;
    justify-content: center;
    align-items: center;
}

#error {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.85em;
    background-color: #F8D7DA;
    color: #721C24;
    border-radius: 5px;
    text-align: center;
    padding: 5px 25px;
    margin-bottom: 10px;
}

#feelings-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    padding: 15px;
    height: 60px;
    border: none;
    resize: none;
}

#button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#generate {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: rgba(0, 0, 0, 0.544);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    font-weight: 600;
}

#generate:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.763);
}

#result-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#result {
    background-color: rgba(0, 0, 0, 0.544);
    width: 450px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 1em;
    padding: 5px 100px;
    line-height: 30px;
}

#result label {
    font-size: 0.8em;
}

#result div {
    height: 28px;
    font-size: 1.3em;
}
