:root {
    --background-light: rgba(0, 0, 0, 0.5);
    --header-background-light: rgba(0, 0, 0, 0.3);
    --background-dark: rgba(0, 0, 0, 0.6);
    --header-background-dark: rgba(0, 0, 0, 0.5);
    --font: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background-image: url('../images/purple-sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

body.dark__mode {
    background-image: url('../images/dark-sky.jpg');
}

header {
    background-color: var(--header-background-light);
}

header.dark__mode {
    background-color: var(--header-background-dark);
}

h1 {
    font-family: var(--font);
    font-weight: 900;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    padding: 15px 10px;
    margin: 0;
}

#dark__mode {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 11px;
    right: 35px;
    height: 45px;
    width: 45px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 100%;
}

#dark__mode:hover {
    cursor: pointer;
    background-color: rgba(89, 86, 86, 0.407);
}
    
.icon {
    font-size: 1.8rem;
}

main {
    padding: 15px;
}

#zip__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
}

#zip__input {
    width: 200px;
    border-radius: 10px;
    padding: 7px 10px;
    border: none;
}

#zip__input.dark__mode {
    background-color: black;
    color: white;
}

#error__holder {
    display: none;
    justify-content: center;
    align-items: center;
}

#error {
    font-family: var(--font);
    font-weight: 600;
    font-size: 0.84rem;
    background-color: #e2122790;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px 25px;
    margin-bottom: 10px;
}

#feelings__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#feelings__input {
    font-family: var(--font);
    border-radius: 10px;
    padding: 15px;
    height: 60px;
    border: none;
    resize: none;
}

#feelings__input.dark__mode {
    background-color: black;
    color: white;
}

#button__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#generate {
    font-family: var(--font);
    border: none;
    background-color: var(--background-light);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

#generate.dark__mode {
    background-color: var(--background-dark);
}

#generate:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.763);
}

#generate.dark__mode:hover {
    cursor: pointer;
    background-color: rgba(44, 42, 42, 0.763);
}

#result__container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#result {
    background-color: var(--background-light);
    display: flex;
    flex-direction: column;
    width: 450px;
    font-family: var(--font);
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 5px 100px;
    line-height: 30px;
}

#result.dark__mode {
    background-color: var(--background-dark);
}

#result label {
    font-size: 0.8rem;
}

#result div {
    min-height: 28px;
    font-size: 1.3rem;
    word-wrap: break-word;
}
